body {
	margin:0;
	background-image: url(../img/soft_wallpaper.png);
	background-repeat: repeat;
}

.col-dk-12 {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}

.col-dk-1 {
	width: 8.3%;
	height: 900px;
	float: left;
	margin: 0;
	padding: 0;
}

.clearfix {
	display: inline-block;
	float: none;
	clear: both;
}

.col-dk-nav {
	width: 100%;
	text-align: center;
}

ul {
	display: inline-block;
	text-align: center; 
	position: relative;
	display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    font-family: 'Lobster', cursive;
    font-size: 20px;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:not(.active) {
	color: white;
}

li a:hover {
    background-image: url("../img/gold3.jpg") max-height: 200px;
    color: black;
}

li a.active {
    color: black;
    background-image: hidden;
}


.clearfix {
	display: inline-block;
	float: none;
	clear: both;
}


img {
	height: auto;
	width: 100%;
	}



/*mobile*/
@media screen and (min-width:180px) and (max-width:767px) {

	.col-sm-nav {
		background-color: black;
		width: 100%;
		height: 35px;
	}

	li {
	    float: left;
	    font-family: 'Lobster', cursive;
	    font-size: 10px;
	}

	li a {
		color: white;
	}

	li a:hover {
	    background-image: url("../img/gold3.jpg");
	    color: black;
	}

	.active:hover {
		background-image: url("../img/gold3.jpg");
	    color: black;
	}

	li a.active {
	    color: white;
	}

	.col-sm-half {
		width: 100%;
		height: 520px;
	}
	.col-sm-half2 {
		width: 100%;
		height: 600px;
		text-align: center;
	}

	form {
		height: 600px;
		float: center;
		padding: 30px;
	}

form input, form textarea, form select {
		font-family: 'Raleway', sans-serif;
		font-size: 15px;
		text-align: center;
	}

#email {
	margin: 30px;
}

#fullname {
	margin: 30px;
}

#submit {
	margin: 30px;
	font-size: 30px;
	}

h1 {
		background-image: none;
		 font-family: 'Lobster', cursive;
		 padding-top: 30px;
		 font-size: 30px;
		 text-align: center;
	}

button {
		float: center;
		font-family: 'Lobster', cursive;
		background-image: url(../img/gold3.jpg);
		text-decoration: none;
	    border-radius: 15px;
	    font-size: 20px;
	}

button:hover {
	    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}

#social {
	width: 100%;
	height: 50px;
	margin: 0 auto;
	display: inline;
}

.socialmedia .fa {
	padding-left: 70px;
}

.socialmedia .fa-facebook{
	padding: 0;
}

.clearfix {
	display: inline-block;
	float: none;
	clear: both;
}


	.footer-sm {
		background-color: black;
		color: white;
		text-align: center;
		font-size: 15px;
		width: 100%;
		height: 80px;
	}

	.footer-sm small {
		padding-bottom: 10px;
	}
}

/*tablet*/
@media screen and (min-width:768px) and (max-width:1023px) {
	.col-md-nav {
		background-color: black;
		width: 100%;
		height: 55px;
	}

	li {
	    float: left;
	    font-family: 'Lobster', cursive;
	    font-size: 22px;
	}

	li a {
		color: white;
	}

	li a:hover {
	    background-image: url("../img/gold3.jpg");
	    color: black;
	}

	li a.active {
		color: white;
	}

	.col-md-half {
		padding-top: 100px;
		padding-bottom: 100px;
		width: 50%;
		height: 700px;
	}
	.col-md-half2 {
		padding-top: 100px;
		padding-bottom: 100px;
		width: 50%;
		height: 700px;
		text-align: center;
	}


form {
		height: 600px;
		float: center;
		padding: 30px;
	}

form input, form textarea, form select {
		font-family: 'Raleway', sans-serif;
		font-size: 20px;
		text-align: center;
	}

#email {
	margin-top: 30px;
	margin-bottom: 30px;
}

#fullname {
	margin-top: 30px;
	margin-bottom: 30px;
}

#submit {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 30px;
	}

h1 {
		background-image: none;
		 font-family: 'Lobster', cursive;
		 padding-top: 30px;
		 font-size: 30px;
		 text-align: center;
	}

button {
		float: center;
		font-family: 'Lobster', cursive;
		background-image: url(../img/gold3.jpg);
		text-decoration: none;
	    border-radius: 15px;
	    font-size: 20px;
	}

button:hover {
	    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}


#social {
	margin: 0 auto;
	display: inline; 
}

.socialmedia {
    margin: 0 auto;
    display: inline;
    float: center;
    padding: 50px;
    font-size: 30px;
    width: auto;
    text-align: center;
    text-decoration: none;
}

.fa {
	float: center;
	padding: 25px;
	font-size: 30px;
}

.fa:hover {
    opacity: 0.7;
}

.clearfix {
		clear: both;
	}

.footer-dk {
		background-color: black;
		text-align: center;
		color: white;
		width: 100%;
		height: 80px;
	}
}

/*desktop*/
@media screen and (min-width:1024px) and (max-width:1440px) {
	.col-dk-nav {
		background-color: black;
		width: 100%;
		height: 55px;
	}

	li {
	    float: left;
	    font-family: 'Lobster', cursive;
	    font-size: 22px;
	}

	li a {
		color: white;
	}

	li a:hover {
	    background-image: url("../img/gold3.jpg");
	    color: black;
	}

	li a.active {
		color: white;
	}

.col-dk-half {
		width: 50%;
		height: 700px;
	}
.col-dk-half2 {
		width: 50%;
		height: 700px;
		text-align: center;
	}
.col-dk-half2 {
		height: auto;
		width: 50%;
		margin: 0 auto;
	}
form {
		width: 100%;
		height: 600px;
		float: center;
		padding: 30px;
	}

form input, form textarea, form select {
		font-family: 'Raleway', sans-serif;
		font-size: 20px;
		text-align: center;
	}

#email {
	margin: 30px;
}

#fullname {
	margin: 30px;
}

#submit {
	margin: 30px;
	font-size: 30px;
	}

h1 {
		background-image: none;
		 font-family: 'Lobster', cursive;
		 padding-top: 30px;
		 font-size: 30px;
		 text-align: center;
	}

button {
		float: center;
		font-family: 'Lobster', cursive;
		background-image: url(../img/gold3.jpg);
		text-decoration: none;
	    border-radius: 15px;
	    font-size: 20px;
	}

button:hover {
	    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}

#social {
	margin: 0 auto;
	display: inline; 
}

.socialmedia {
    margin: 0 auto;
    display: inline;
    float: center;
    padding: 50px;
    font-size: 30px;
    width: auto;
    text-align: center;
    text-decoration: none;
}

.fa {
	float: center;
	padding: 25px;
	font-size: 30px;
}

.fa:hover {
    opacity: 0.7;
}

.clearfix {
		clear: both;
	}

	.footer-dk {
		background-color: black;
		text-align: center;
		color: white;
		width: 100%;
		height: 80px;
	}
}